.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.DS_Store

node_modules

credentials.json
*.tsbuildinfo

**/dist/

.terraform/
*.backup
.terraform.lock.hcl
**/lambda.zip

.envrc
*.tgz
