.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.DS_Store

node_modules

set_env_vars.sh
credentials.json
*.tsbuildinfo

**/dist/

.terraform/
*.backup
set_env_vars.sh
.terraform.lock.hcl
**/lambda.zip